/*index.html 的样式*/

/*header 开始*/
#header{
    height: 32px;
    background: #a9180a;
    font-size: 12px;
    line-height: 32px;
    border-bottom: 1px solid #a9180a;
}

#login-info{
    float: left;
}

#sn-quick-menu{
    float: right;
}

#sn-quick-menu .manu{
    float: left;
    position: relative;
    padding: 0 10px;
    height: 33px;
}

#header a,#login-info span{
    color: #ffffff;
}

#header .triangle::after {
    content: '';
    border-width: 3px;
    border-style: solid;
    border-color: #bbb transparent transparent;
    width: 0;
    position: absolute;
    right: 6px;
    top: 50%;
    margin-top: -1.5px;

    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;

    -webkit-transform-origin: 3px 1.5px;
    -moz-transform-origin: 3px 1.5px;
    -ms-transform-origin: 3px 1.5px;
    -o-transform-origin: 3px 1.5px;
    transform-origin: 3px 1.5px;
}

#header .icon-gouwuchekong{
    font-size: 12px;
    color: #ffffff;
    cursor: text;
}

#header .icon-shouji2{
    font-size: 12px;
    color: #ffffff;
    cursor: text;
}

#header .icon-weibiaoti15{
    font-size: 12px;
    color: #ffffff;
    cursor: pointer;
    padding-right: 4px;
}

#login-info .register{
    padding: 0 10px;
}

#login-info .sn-login{
    padding-left: 20px;
    padding-right: 10px;
}

#header .triangle:hover::after{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);

    -webkit-transition: transform .25s;
    -moz-transition: transform .25s;
    -ms-transition: transform .25s;
    -o-transition: transform .25s;
    transition: transform .25s;
}

#header .triangle{
    border-style: solid;
    border-color: transparent;
    border-width: 0 1px 0 1px;
    padding: 0 14px 0 10px;
}

#header .triangle:hover{
    background: #ffffff;
    border-color: #e5e5e5;
    cursor: pointer;
}
#header .submenu:hover{
    cursor: auto;
}


#header .triangle:hover .icon-weibiaoti15{
    color: #eb2929;
}

#header .click:hover{
    text-decoration: underline;
}

#header .triangle:hover>a{
    color: #FF0036;
}

#header .navigation:hover>a{
    color: #c40000;
}

#header .triangle:hover .submenu{
    display: block;
}

#sn-quick-menu .submenu a:hover{
    text-decoration: underline;
    color: #FF0036;
}

#sn-quick-menu .submenu{
    position: absolute;
    top: 33px;
    left: -1px;
    width: 74px;
    border-style: solid;
    border-color: #e5e5e5;
    border-width: 0 1px 1px 1px;
    padding: 8px 10px;
    display: none;
    background: #fff;
    line-height: 20px;
    font-size: 12px;
}

#sn-quick-menu .collect{
    width: 62px;
}

#sn-quick-menu .submenu a{
    color: #666666;
}

#sn-quick-menu .split{
    position: relative;
    top: 9px;
    padding: 0;
    width: 0;
    border-left: 1px solid #ccc;
    height: 14px;
    margin: 0 2px 0 5px;
}

/*第二种方法*/
/*#sn-quick-menu .split{
   height: 14px;
   margin: 9px 2px 10px 5px ;
   width: 1px;
    background: #cccccc;
    padding: 0;
}*/

#sn-quick-menu .change:hover a{
    color: #ffe013
}

#sn-quick-menu .change:hover i{
    color: #ffe013;
}

#sn-quick-menu .cart:hover span{
    color: #fff;
}

#sn-quick-menu .cart a:hover span{
    color: #ffe013;
}

#sn-quick-menu .cart span{
    padding: 0 2px;
    font-weight: 700;
    font-family: Arial;
    cursor: pointer;
    text-align: center;
}

#sn-quick-menu .qr-code{
    position: absolute;
    top: 26px;
    left: -48px;
    width: 175px;
    height: 227px;
    background: #ffffff;
    box-shadow: 0 0 5px #aaa;
    display: none;
}

#sn-quick-menu .qr-code::after{
    content: '';
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -10px;
    left: 50%;
}

#sn-quick-menu .phone:hover .qr-code{
    display: block;
}

#sn-quick-menu .qr-code-content{
    width: 175px;
    height: 175px;
    background: url(//img.alicdn.com/tfs/TB1vJ0POwTqK1RjSZPhXXXfOFXa-175-215.png) 0 0 no-repeat;
    margin-top: 5px;
}

#sn-quick-menu .qr-code p{
    background: url(//img.alicdn.com/tfs/TB1W.19bG67gK0jSZFHXXa9jVXa-145-30.jpg) center bottom no-repeat;
    margin: 0 15px;
    line-height: 35px;
    text-indent: -9999px;
    overflow: hidden;
}

#sn-quick-menu .case{
    width: 122px;
    background: #ffffff;
    position: absolute;
    top: 33px;
    right: -1px;
    left: auto;
    border: solid #eee;
    border-width: 0 1px 1px 1px;
    color: #666666;
    padding: 8px 10px;
    overflow: hidden;
    display: none;
}

#sn-quick-menu .case:hover{
    cursor: auto;
}

#sn-quick-menu .shop:hover .case{
    display: block;
}

#sn-quick-menu .case ul{
    overflow: hidden;
    margin-top: -5px;
}

#sn-quick-menu .case li{
    padding: 5px 0;
    line-height: 1.4;
    border-bottom: 1px dotted #827777;
    margin-right: -20px;
}

#sn-quick-menu .case h3{
    font-weight: 700;
    font-size: 100%;
}

#sn-quick-menu .case a{
    color: #666666;
    display: inline-block;
    width: 48px;
    margin-right: 20px;
    line-height: 22px;
}

#sn-quick-menu .turn:hover{
    color: #ff0036;
    text-decoration: underline;
}

#sn-quick-menu .list{
    width: 1198px;
    position: absolute;
    right: -1px;
    left: auto;
    background: #ffffff;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #eee;
    padding: 25px 0;
    display: none;
    line-height:1.4;
    cursor: auto;
}

#sn-quick-menu .list a{
    color: #666666;
    position: relative;
}

.list-left,.list-middle,.list-right{
    float: left;
    height: 110px;
    padding-left: 30px;
}

#sn-quick-menu .list-middle{
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
}

#sn-quick-menu .list li{
    float: left;
    padding: 6px 0;
    width: 95px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#sn-quick-menu .list h2{
    padding-bottom: 8px;
    font-size: 16px;
    font-family: '\5FAE\8F6F\96C5\9ED1',arial,"\5b8b\4f53";
    font-weight: 100;
}

#sn-quick-menu .list span{
    padding-left: 6px;
}

#sn-quick-menu .list .transport{
    width: 75px;
}

#hotword{
    color: #f56a00;
}

#market{
    color: #2263d4;
}

#service{
    color: #666666;
}

#sn-quick-menu .navigation:hover .list{
    display: block;
}

#sn-quick-menu .list a:hover{
    text-decoration: underline;
    color: #eb2929;
}

#sn-quick-menu .list .special{
    width: 95px;
}

#sn-quick-menu .search-icon{
    position: absolute;
    width: 9px;
    height: 11px;
    top: -7px;
    right: -9px;
}

#sn-quick-menu .search-icon-hot{
    background: url(//img.alicdn.com/tps/i1/TB1gyXLGFXXXXceXVXXCEcU6VXX-439-220.png) -9999px -9999px no-repeat;
    background-position: -37px 0;
}

#sn-quick-menu .search-icon-new{
    background: url(//img.alicdn.com/tps/i1/TB1gyXLGFXXXXceXVXXCEcU6VXX-439-220.png) -9999px -9999px no-repeat;
    background-position: -37px -11px;
}

#sn-quick-menu .search li:hover a{
    color: #eb2929;
}

/*header 结束*/

/*body 开始*/
.logo,.search-list{
    float: left;
}

#body .search-list{
    margin-top: 38px;
    margin-left: 72px;
}

#body .search-box input{
    width: 483px;
    height: 26px;
    border: none;
    padding: 5px 3px 5px 5px;
    outline: none;
    font-size: 14px;
    line-height: 36px;
    text-indent: 3px;
}

#body .search-box{
    border-width: 2px 0 2px 2px;
    border-style: solid;
    border-color: #FF0036;
    height: 36px;
    width: 623px;
    position: relative;
}

#body .button{
    width: 132px;
    height: 36px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 5px;
    color: #fff;
    background: #FF0036;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    font-family: '\5FAE\8F6F\96C5\9ED1',arial,"\5b8b\4f53";
}

#body .search-list ul{
    width: 625px;
    height: 24px;
    font-size: 14px;
    padding: 7px 0 0 0;
    margin-left: -12px;
}

#body .search-list li{
    float: left;
    padding: 0 12px;
    border-right: 1px solid #ccc;
    line-height: 1.1;
}

#body .search-list li a{
    color: #999999;
}

#body .search-list .red a{
    color: #ff0036;
}

#body .search-list .lost{
    border-right: 0;
}
/*body 结束*/