/*index.html 的样式*/

/*header 开始*/
body{
    height: 3000px;
}
#header{
    height: 32px;
    background: #a9180a;
    line-height: 32px;
    border-bottom: 1px solid #a9180a;
}

#login-info{
    float: left;
}

#sn-quick-menu{
    float: right;
}

#sn-quick-menu .manu{
    float: left;
    position: relative;
    padding: 0 10px;
    height: 33px;
}

#header a,#login-info span{
    color: #ffffff;
}

#header .triangle::after {
    content: '';
    border-width: 3px;
    border-style: solid;
    border-color: #bbb transparent transparent;
    width: 0;
    position: absolute;
    right: 6px;
    top: 50%;
    margin-top: -1.5px;

    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;

    -webkit-transform-origin: 3px 1.5px;
    -moz-transform-origin: 3px 1.5px;
    -ms-transform-origin: 3px 1.5px;
    -o-transform-origin: 3px 1.5px;
    transform-origin: 3px 1.5px;
}

#header .icon-gouwuchekong{
    font-size: 12px;
    color: #ffffff;
    cursor: text;
}

#header .icon-shouji2{
    font-size: 12px;
    color: #ffffff;
    cursor: text;
}

#header .icon-weibiaoti15{
    font-size: 12px;
    color: #ffffff;
    cursor: pointer;
    padding-right: 4px;
}

#login-info .register{
    padding: 0 10px;
}

#login-info .sn-login{
    padding-left: 20px;
    padding-right: 10px;
}

#header .triangle:hover::after{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);

    -webkit-transition: transform .25s;
    -moz-transition: transform .25s;
    -ms-transition: transform .25s;
    -o-transition: transform .25s;
    transition: transform .25s;
}

#header .triangle{
    border-style: solid;
    border-color: transparent;
    border-width: 0 1px 0 1px;
    padding: 0 14px 0 10px;
    position: relative;
    z-index: 1;
}

#header .triangle:hover{
    background: #ffffff;
    border-color: #e5e5e5;
    cursor: pointer;
}
#header .submenu:hover{
    cursor: auto;
}


#header .triangle:hover .icon-weibiaoti15{
    color: #eb2929;
}

#header .click:hover{
    text-decoration: underline;
}

#header .triangle:hover>a{
    color: #FF0036;
}

#header .navigation:hover>a{
    color: #c40000;
}

#header .triangle:hover .submenu{
    display: block;
}

#sn-quick-menu .submenu a:hover{
    text-decoration: underline;
    color: #FF0036;
}

#sn-quick-menu .submenu{
    position: absolute;
    top: 33px;
    left: -1px;
    width: 74px;
    border-style: solid;
    border-color: #e5e5e5;
    border-width: 0 1px 1px 1px;
    padding: 8px 10px;
    display: none;
    background: #fff;
    line-height: 20px;
    font-size: 12px;
}

#sn-quick-menu .collect{
    width: 62px;
}

#sn-quick-menu .submenu a{
    color: #666666;
}

#sn-quick-menu .split{
    position: relative;
    top: 9px;
    padding: 0;
    width: 0;
    border-left: 1px solid #ccc;
    height: 14px;
    margin: 0 2px 0 5px;
}

/*第二种方法*/
/*#sn-quick-menu .split{
   height: 14px;
   margin: 9px 2px 10px 5px ;
   width: 1px;
    background: #cccccc;
    padding: 0;
}*/

#sn-quick-menu .change:hover a{
    color: #ffe013
}

#sn-quick-menu .change:hover i{
    color: #ffe013;
}

#sn-quick-menu .cart:hover span{
    color: #fff;
}

#sn-quick-menu .cart a:hover span{
    color: #ffe013;
}

#sn-quick-menu .cart span{
    padding: 0 2px;
    font-weight: 700;
    font-family: Arial;
    cursor: pointer;
    text-align: center;
}

#sn-quick-menu .qr-code{
    position: absolute;
    top: 26px;
    left: -48px;
    width: 175px;
    height: 227px;
    background: #ffffff;
    box-shadow: 0 0 5px #aaa;
    display: none;
    z-index: 1;
}

#sn-quick-menu .qr-code::after{
    content: '';
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -10px;
    left: 50%;
}

#sn-quick-menu .phone:hover .qr-code{
    display: block;
}

#sn-quick-menu .qr-code-content{
    width: 175px;
    height: 175px;
    background: url(//img.alicdn.com/tfs/TB1vJ0POwTqK1RjSZPhXXXfOFXa-175-215.png) 0 0 no-repeat;
    margin-top: 5px;
}

#sn-quick-menu .qr-code p{
    background: url(//img.alicdn.com/tfs/TB1W.19bG67gK0jSZFHXXa9jVXa-145-30.jpg) center bottom no-repeat;
    margin: 0 15px;
    line-height: 35px;
    text-indent: -9999px;
    overflow: hidden;
}

#sn-quick-menu .case{
    width: 122px;
    background: #ffffff;
    position: absolute;
    top: 33px;
    right: -1px;
    left: auto;
    border: solid #eee;
    border-width: 0 1px 1px 1px;
    color: #666666;
    padding: 8px 10px;
    overflow: hidden;
    display: none;
}

#sn-quick-menu .case:hover{
    cursor: auto;
}

#sn-quick-menu .shop:hover .case{
    display: block;
}

#sn-quick-menu .case ul{
    overflow: hidden;
    margin-top: -5px;
}

#sn-quick-menu .case li{
    padding: 5px 0;
    line-height: 1.4;
    border-bottom: 1px dotted #827777;
    margin-right: -20px;
}

#sn-quick-menu .case h3{
    font-weight: 700;
    font-size: 100%;
}

#sn-quick-menu .case a{
    color: #666666;
    display: inline-block;
    width: 48px;
    margin-right: 20px;
    line-height: 22px;
}

#sn-quick-menu .turn:hover{
    color: #ff0036;
    text-decoration: underline;
}

#sn-quick-menu .list{
    width: 1198px;
    position: absolute;
    right: -1px;
    left: auto;
    background: #ffffff;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #eee;
    padding: 25px 0;
    display: none;
    line-height:1.4;
    cursor: auto;
}

#sn-quick-menu .list a{
    color: #666666;
    position: relative;
}

.list-left,.list-middle,.list-right{
    float: left;
    height: 110px;
    padding-left: 30px;
}

#sn-quick-menu .list-middle{
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
}

#sn-quick-menu .list li{
    float: left;
    padding: 6px 0;
    width: 95px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#sn-quick-menu .list h2{
    padding-bottom: 8px;
    font-size: 16px;
    font-family: '\5FAE\8F6F\96C5\9ED1',arial,"\5b8b\4f53";
    font-weight: 100;
}

#sn-quick-menu .list span{
    padding-left: 6px;
}

#sn-quick-menu .list .transport{
    width: 75px;
}

#hotword{
    color: #f56a00;
}

#market{
    color: #2263d4;
}

#service{
    color: #666666;
}

#sn-quick-menu .navigation:hover .list{
    display: block;
}

#sn-quick-menu .list a:hover{
    text-decoration: underline;
    color: #eb2929;
}

#sn-quick-menu .list .special{
    width: 95px;
}

#sn-quick-menu .search-icon{
    position: absolute;
    width: 9px;
    height: 11px;
    top: -7px;
    right: -9px;
}

#sn-quick-menu .search-icon-hot{
    background: url(//img.alicdn.com/tps/i1/TB1gyXLGFXXXXceXVXXCEcU6VXX-439-220.png) -9999px -9999px no-repeat;
    background-position: -37px 0;
}

#sn-quick-menu .search-icon-new{
    background: url(//img.alicdn.com/tps/i1/TB1gyXLGFXXXXceXVXXCEcU6VXX-439-220.png) -9999px -9999px no-repeat;
    background-position: -37px -11px;
}

#sn-quick-menu .search li:hover a{
    color: #eb2929;
}

/*header 结束*/

/*body 开始*/
#body{
    height: 130px;
}

#body .logo a{
    float: left;
    height: 130px;
}

.logo,.search-list{
    float: left;
}

#body .search-list{
    margin-top: 38px;
    margin-left: 72px;
}

#body .search-box input{
    width: 483px;
    height: 26px;
    border: none;
    padding: 5px 3px 5px 5px;
    outline: none;
    font-size: 14px;
    line-height: 36px;
    text-indent: 3px;
}

#body .search-box{
    border-width: 2px 0 2px 2px;
    border-style: solid;
    border-color: #FF0036;
    height: 36px;
    width: 623px;
    position: relative;
}

#body .button{
    width: 132px;
    height: 36px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 5px;
    color: #fff;
    background: #FF0036;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    font-family: '\5FAE\8F6F\96C5\9ED1',arial,"\5b8b\4f53";
}

#body .search-list ul{
    width: 625px;
    height: 24px;
    font-size: 14px;
    padding: 7px 0 0 0;
    margin-left: -12px;
}

#body .search-list li{
    float: left;
    padding: 0 12px;
    border-right: 1px solid #ccc;
    line-height: 1.1;
}

#body .search-list li a{
    color: #999999;
    font-size: 14px;
}

#body .search-list .red a{
    color: #ff0036;
}

#body .search-list .lost{
    border-right: 0;
}
/*body 结束*/

/*main-nav 开始*/
#main-nav{
    height: 35px;
    margin-top: 1px;
    border-bottom: 1.5px solid #FF0036;
}

#main-nav .wrapper li{
    float: left;
    height: 35px;
    cursor: pointer;
}

#main-nav .icon-weibiaoti15{
    color: #fff;
}

#main-nav .nav-img{
    width: 100px;
    height: 30px;
    margin-top: 3px;
}

#main-nav .wrapper li a{
    height: 35px;
    line-height: 35px;
    color: #333333;
    font-size: 16px;
    font-weight: 500;
    padding: 0 8px;
}

#main-nav .wrapper .classify{
    width: 200px;
    height: 36.5px;
    background: #c60a0a;
}

#main-nav .wrapper .classify i{
    margin-left: 14px;
}

#main-nav .wrapper .word-left a{
    float: left;
    width: 100px;
}

#main-nav .wrapper .classify a {
    color: #fff;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
}

#main-nav .wrapper li:hover a{
    color: #FF0036;
}

#main-nav .wrapper .classify:hover a{
    color: #ffffff;
}
/*main-nav 结束*/

/*banner 开始*/
#banner{
    background: #69009e;
}

#banner .wrapper{
    background: url(../img/pic.webp) no-repeat center;
    height: 500px;
}

#banner .wrapper ul{
    width: 200px;
    height: 500px;
    background-color: rgba(0,0,0,.55);
}

#banner .wrapper li{
    color: #ffffff;
    height: 31.2px;
    line-height: 31.2px;
    font-size: 14px;
}

#banner .wrapper i{
    opacity: .5;
    margin-left: 14px;
    margin-right: 4px;
    height: 31px;
    line-height: 31px;
    font-size: 16px;
    color: #ffffff;
}

#banner .wrapper li a{
    height: 31px;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
}

#banner .wrapper li:hover{
    background: #ffffff;
}

#banner .wrapper .color1:hover{
    color: #e54077;
}

#banner .wrapper .color1:hover i{
    color: #e54077;
}

#banner .wrapper .color1:hover a{
    color: #e54077;
}

#banner .wrapper .color2:hover{
    color: #427def;
}

#banner .wrapper .color2:hover a{
    color: #427def;
}

#banner .wrapper .color2:hover i{
    color: #427def;
}

#banner .wrapper .color3:hover{
    color: #6347ed;
}

#banner .wrapper .color3:hover i{
    color: #6347ed;
}

#banner .wrapper .color3:hover a{
    color: #6347ed;
}

#banner .wrapper .color4:hover{
     color: #e54077;
}

#banner .wrapper .color4:hover i{
    color: #e54077;
}

#banner .wrapper .color4:hover a{
    color: #e54077;
}

#banner .wrapper .color5:hover{
    color: #6347ed;
}

#banner .wrapper .color5:hover i{
    color: #6347ed;
}

#banner .wrapper .color5:hover a{
    color: #6347ed;
}

#banner .wrapper .color6:hover{
    color: #427def;
}

#banner .wrapper .color6:hover i{
    color: #427def;
}

#banner .wrapper .color6:hover a{
    color: #427def;
}

#banner .wrapper .color7:hover{
     color: #fa5c5c;
}

#banner .wrapper .color7:hover i{
    color: #fa5c5c;
}

#banner .wrapper .color7:hover a{
    color: #fa5c5c;
}

#banner .wrapper .color8:hover{
    color: #f7a831;
}

#banner .wrapper .color8:hover i{
    color: #f7a831;
}

#banner .wrapper .color8:hover a{
    color: #f7a831;
}

#banner .wrapper .color9:hover{
    color: #f7a831;
}

#banner .wrapper .color9:hover i{
    color: #f7a831;
}

#banner .wrapper .color9:hover a{
    color: #f7a831;
}

#banner .wrapper .color10:hover{
    color: #427def;
}

#banner .wrapper .color10:hover i{
    color: #427def;
}

#banner .wrapper .color10:hover a{
    color: #427def;
}

#banner .wrapper .color11:hover{
    color: #dd2727;
}

#banner .wrapper .color11:hover i{
    color: #dd2727;
}

#banner .wrapper .color11:hover a{
    color: #dd2727;
}

#banner .wrapper .color12:hover{
     color: #427def;
}

#banner .wrapper .color12:hover i{
    color: #427def;
}

#banner .wrapper .color12:hover a{
    color: #427def;
}

#banner .wrapper .color13:hover{
    color: #f7a831;
}

#banner .wrapper .color13:hover i{
    color: #f7a831;
}

#banner .wrapper .color13:hover a{
    color: #f7a831;
}

#banner .wrapper .color14:hover{
    color: #3bc7bd;
}

#banner .wrapper .color14:hover i{
    color: #3bc7bd;
}

#banner .wrapper .color14:hover a{
    color: #3bc7bd;
}

#banner .wrapper .color15:hover{
    color: #dd2727;
}

#banner .wrapper .color15:hover i{
    color: #dd2727;
}

#banner .wrapper .color15:hover a{
    color: #dd2727;
}

#banner .wrapper .color16:hover{
    color: #3bc7bd;
}

#banner .wrapper .color16:hover i{
    color: #3bc7bd;
}

#banner .wrapper .color16:hover a{
    color: #3bc7bd;
}
/*banner 结束*/

/*side-bar 开始*/
#side-bar{
    width: 35px;
    position: fixed;
    background: #000;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    padding-top: 115px;
}

.rect,.shopping-car{
    cursor: pointer;
}

#side-bar li{
    cursor: pointer;
    position: relative;
}

#side-bar .vip{
    height: 35px;
    width: 35px;
    background-image: url(../img/tmall.png);
    position: relative;
}

#side-bar .shopping-car{
    height: 100px;
    width: 35px;
    margin: 8px 0;
    position: relative;
}

#side-bar .box{
    position: absolute;
    top: 0;
    left: 5px;
    width: 25px;
    height: 98px;
    border: solid #444;
    border-width: 1px 0;
}

#side-bar .car{
    position: absolute;
    top: 10px;
    width: 35px;
    height: 35px;
    background-image: url(../img/car.png);
}

#side-bar .word{
    position: absolute;
    left: 7px;
    top: 40px;
    height: 50px;
    width: 20px;
    line-height: 16px;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
}

#side-bar .tab{
    height: 35px;
    width: 35px;
    margin: 8px 0;
}

#side-bar ul{
    height: 245px;
}

#side-bar .rmb{
    background: url(../img/rmb.png) no-repeat center;
}

#side-bar .bar-collect{
    background: url(../img/collect.png) no-repeat center;
}

#side-bar .history{
    background: url(../img/history.png) no-repeat center;
}

#side-bar .charge{
    background: url(../img/charge.png) no-repeat center;
}

#side-bar .feed-back{
    background: url(../img/feed-back.png) no-repeat center;
    margin-top: 105px;
}

#side-bar .qrcode {
    background: url(../img/qrcode.png) no-repeat center;
    position: relative;
}

#side-bar .top{
    background: url(../img/top.png) no-repeat center;
    margin: 8px 0 0 0;
}

#side-bar li a{
    height: 35px;
    width: 35px;
    position: absolute;
    top: 0;
}

#side-bar .vip a{
    height: 35px;
    width: 35px;
    position: absolute;
    top: 0;
}

#side-bar .vip:hover{
    background-color: #FF0036;
}

#side-bar .shopping-car:hover{
    background-color: #FF0036;
}

#side-bar .shopping-car:hover .box{
    border: 0;
}

#side-bar .shopping-car:hover .car{
    background: url("../img/car-white.png") no-repeat;
}

#side-bar li:hover{
    background-color: #FF0036;
}

#side-bar .qrcode:hover{
    background-color: #000;
}

#side-bar .qrcode a:hover{
    background: url(../img/qrcode.png) no-repeat #FF0036;
}

#side-bar .rect{
    position: absolute;
    right: 70px;
    top: -1px;
    opacity: 0;
    width: 90px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 12px;
    background: #494949;
    color: #ffffff;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

#side-bar .font{
    position: absolute;
    top: 10px;
    right: -8px;
    color: #494949;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 16px;
    font-family: "\5b8b\4f53";
}

#side-bar .vip:hover .rect{
    opacity: 1;
    right: 35px;
}

#side-bar li:hover .rect{
    opacity: 1;
    right: 35px;
}

#side-bar .pic-1{
    height: 145px;
}

#side-bar .pic-1 img{
    margin: 45px 0 0 27px;
    width: 100px;
    height: 100px;
}

#side-bar .pic-2 img{
    margin-left: 10px;
}

#side-bar .square{
    height: 16px;
    width: 16px;
    line-height: 16px;
    position: absolute;
    bottom: 20px;
    right: -7px;
    color: #FF0036;
    text-align: center;
    font-size: 12px;
    font-family: "\5b8b\4f53";
}

#side-bar .qrcode:hover .picture{
    display: block;
}

#side-bar .picture{
    position: absolute;
    top: -161px;
    right: 33px;
    width: 155px;
    height: 207px;
    background: url("../img/wrapper.png") no-repeat;
    display: none;
    cursor: default;
}
/*side-bar 结束*/